@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

:root{
   --dark_red:#b50000 ;
   --light_red:#f22a2a;
   --red:#b50000;
   --orange:#CE5F23;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --border: .2rem solid var(--dark_red);
   --box-shadow: 0 .5rem 1rem rgb(0 0 0 / 42%);
}

*{
   font-family: monospace;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition:all .2s linear;
} 

*::selection{
   background-color: var(--dark_red);
   color:var(--white);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--dark_red);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

body{
   background: var(--light-bg);
}

section{
   padding:3rem 2rem;
}

.title{
   text-align: center;
   margin-bottom: 2rem;
   color:var(--light_red);
   text-transform: uppercase;
   font-size: 5rem;
   font-style: oblique;
}

.btn,
.delete-btn,
.option-btn{
   display: inline-block;
   border-radius: .5rem;
   margin-top: 1rem;
   font-size: 1.8rem;
   color:var(--white);
   cursor: pointer;
   padding:1rem 3rem;
   text-transform: capitalize;
}

.change-role-btn{
	
     display: inline-block;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    color: var(--white);
    background: var(--orange);
    cursor: pointer;
    padding: 1rem 3rem;
    text-transform: capitalize;
	
}
	
/*flex box elements*/
.message{
   position: sticky;
   top:0;
   margin:0 auto;
   max-width: 1200px;
   background-color: var(--light-bg);
   display: flex;
   align-items: center;
   padding:2rem;
   gap:1.5rem;
   z-index: 10000;
   justify-content: space-between;
}

.message span{
   color:var(--black);
   font-size: 2rem;
}

.message i{
   font-size: 2.5rem;
   color:var(--red);
   cursor: pointer;
}

.message i:hover{
   transform: rotate(90deg);
}

.empty{
   padding:1.5rem;
   font-size: 2rem;
   color:var(--light_red);
   border:var(--border);
   box-shadow: var(--box-shadow);
   text-align: center;
   background-color: var(--white);
   border-radius: .5rem;
   text-transform: capitalize;
}

.btn{
   background-color: var(--dark_red);
}

.delete-btn{
   background-color: var(--red);
}

.option-btn{
   background-color: var(--orange);
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover,
.change-role-btn:hover{
   background-color: var(--white);
   color: var(--dark_red);
   border:.2rem solid var(--dark_red);
   
}


.header{
   position: sticky;
   top:0; left:0; right:0;
   z-index: 1000;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
}
/*flex box elements*/
.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding:2rem;
   max-width: 1200px;
   margin:0 auto;
   position: relative;
}

.header .flex .account-box{
   position: absolute;
   top:120%; right:2rem;
   width: 40rem;
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   background-color: var(--white);
   padding:2rem;
   text-align: center;
   border:var(--border);
   display: none;
   animation: fadeIn .2s linear;
}

.header .flex .account-box.active{
   display: inline-block;
}

.header .flex .account-box p{
   padding-bottom: 1rem;
   font-size: 2rem;
   color:var(--light-color);
   line-height: 1.5;
}

.header .flex .account-box p span{
   color:var(--dark_red);
}

.header .flex .account-box div{
   font-size: 2rem;
   margin-top: 2rem;
   color:var(--light-color);
}

.header .flex .account-box div a{
   color:var(--orange);
}

.header .flex .account-box div a:hover{
   text-decoration: underline;
}

.header .flex .icons div{
   font-size: 2.5rem;
   margin-left: 1.7rem;
   cursor: pointer;
   color:var(--black);
}

.header .flex .icons div:hover{
   color:var(--red);
}

.header .flex .navbar a{
   margin:0 1rem;
   font-size: 2rem;
   color:var(--light-color);
   font-style: italic;
   font-family: serif;
}

.header .flex .navbar a:hover{
   text-decoration: underline;
   color:var(--red);
}

.header .flex .logo{
   font-size: 2.5rem;
   color:var(--black);
}

.header .flex .logo span{
   color:var(--red);
   font-style: italic;
}

#menu-btn{
   display: none;
}

.dashboard .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(40rem, 2fr));
   gap:1.5rem;
   align-items: flex-start;
   max-width: 1200px;
   margin: 0 auto;
}

.dashboard .box-container .box{
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   padding:2rem;
   border-radius: 4rem;
}

.dashboard .box-container .box h3{
   font-size: 4rem;
   color:var(--black);
}

.dashboard .box-container .box p{
   padding:1.5rem;
   border-radius: 3rem;
   background-color: #ecb1b1;
   color:var(--dark_red);
   border:var(--border);
   margin-top: 2rem;
   font-size: 2rem;
}
/* section.add-products {
   background: linear-gradient(115deg, #e45656 10%, #ea01d600 90%);
} */


.add-products .image-form{
   display: grid;
    grid-template-columns: repeat(auto-fit, 60rem);
    gap: 1.5rem;
    justify-content: center;
}
.add-products .image-form .image{
   padding: 2rem;
    position: relative;
    min-height: -webkit-fill-available;
}
.add-products .image-form .form{
   padding: 2rem;
    position: relative;
    min-height: -webkit-fill-available;
}

.product-image {
   width: 500px;
   margin-left: 20px;
   margin-top: 60px;
}
.add-products form{
   max-width: 50rem;
   border-radius: .5rem;
   background-color: var(--white);
   border:var(--border);
   padding:2rem;
   text-align: center;
   margin:0 auto;
   box-shadow: var(--box-shadow);
}

.add-products form h3{
   font-size: 3rem;
    text-transform: capitalize;
    color: var(--dark_red);
    margin-bottom: 1rem;
    font-family: ui-rounded;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
}

.add-products form .box{
   width: 100%;
   margin:1rem 0;
   color:var(--black);
   background-color: #e53a3a29;
   padding:1.2rem 1.4rem;
   border-radius: 23px;
}


.add-products form textarea{
   height: 15rem;
   resize: none;
}
/* section.show-products {
   background: linear-gradient(115deg, #e45656 10%, #ea01d600 90%);
} */
/*flex box elements*/
.show-products .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   gap:1.5rem;
   align-items: flex-start;
   max-width: 1200px;
   margin: 0 auto;
   justify-content: center;
}

.show-products .box-container .box{
   text-align: center;
   padding:2rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   position: relative;
   min-height: -webkit-fill-available;
}

.show-products .box-container .box .image{
   height: 30rem;
   margin-bottom: .5rem;
}

.show-products .box-container .box .price{
   background-color: var(--blue);
   position: absolute;
   top:1rem; left:1rem;
   border-radius: .5rem;
   color:var(--white);
   padding:1rem;
   font-size: 2rem;
}

.show-products .box-container .box .name{
   margin:1rem 0;
   font-size: 2rem;
   color:var(--black);
}

.show-products .box-container .box .details{
   line-height: 1.5;
   color:var(--light-color);
   font-size: 1.5rem;
   padding:.5rem 0;
}

.update-product form{
   max-width: 60rem;
   border-radius: .5rem;
   background-color: var(--white);
   border:var(--border);
   padding:2rem;
   text-align: center;
   margin:0 auto;
   box-shadow: var(--box-shadow);
}

.update-product form h3{
   font-size: 2.5rem;
   text-transform: uppercase;
   color:var(--black);
   margin-bottom: 1rem;
}

.update-product form .box{
   width: 100%;
   margin:1rem 0;
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding:1.2rem 1.4rem;
   border:var(--border);
}

.update-product form textarea{
   height: 15rem;
   resize: none;
}

.update-product .image{
   height: 30rem;
   border:var(--border);
   border-radius: .5rem;
}
/*flex box elements*/
.placed-orders .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 50rem);
   gap:1.5rem;
   align-items: flex-start;
   max-width: 1200px;
   margin: 0 auto;
   justify-content: center;
}

.placed-orders .box-container .box{
   padding:2rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

.placed-orders .box-container .box p{
   margin-bottom: 1rem;
   font-size: 2rem;
   color:var(--dark_red);
}

.placed-orders .box-container .box p span{
   color:var(--light-color);
}

.placed-orders .box-container .box form{
   margin-top: 1rem;
   text-align: center;
}

.placed-orders .box-container .box form select{
   width: 100%;
   border:var(--border);
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   border:var(--border);
   border-radius: .5rem;
   margin:.5rem 0;
}
/*flex box elements*/
.users .box-container{
   display: grid;
   grid-template-columns: repeat(2, 40rem);
   gap:1.5rem;
   align-items: flex-start;
   max-width: 1200px;
   margin: 0 auto;
   justify-content: center;
}

.users .box-container .box{
   padding:2rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   text-align: center;
   min-height: -webkit-fill-available;
}

.users .box-container .box p{
   font-size: 2rem;
   color:var(--dark_red);
   margin-bottom: 1rem;
   line-height: 1.5;
}

.users .box-container .box p span{
   color:var(--light-color);
}

.users .box-container .box .delete-btn{
   margin-top: .5;
}
/*flex box elements*/
.messages .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 40rem);
   gap:1.5rem;
   align-items: flex-start;
   max-width: 1200px;
   margin: 0 auto;
   justify-content: center;
}

.messages .box-container .box{
   padding:2rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   min-height: -webkit-fill-available;
}

.messages .box-container .box p{
   font-size: 2rem;
   color:var(--dark_red);
   margin-bottom: 1rem;
   line-height: 1.5;
}

.messages .box-container .box p span{
   color:var(--light-color);
}

.change-role {
   text-align: center;
   margin-top: 50px;
}

.change-role-heading {
   font-size: 28px;
   color: var(--light_red);
   text-align: center;
   margin-bottom: 20px;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 1px;
}
.form-group {
   margin-bottom: 20px;
}

label {
   display: block;
   font-weight: bold;
   margin-bottom: 5px;
       color: #262DAC;
	   font-size: 20px;
}
.role-select {
   font-size: 16px; 
   padding: 10px;
   width: 200px; 
   border: 1px solid #ccc; 
   border-radius: 5px; 
   background-color: #fff; 
   color: #333; 
}


.role-select option {
   font-size: 16px; 
   padding: 10px; 
}


.submit-button {
   display: inline-block;
   padding: 12px 24px;
   font-size: 16px;
   background-color: var(--blue);
   color: #fff;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.submit-button:hover {
   background-color: var(--light_bue);
}
